@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;

}
:root{
    --couleur-body :#F9F9F9;  
    --important : #0594D0; 
    --btn-hover : #007198;
    --ecriture-nav : #F2F2F2; 
    --txt-body : #7E7E7E; 
    --btn-action : linear-gradient(265.48deg, #F60030 46.34%, #FFCF00 102.96%); 
}

body {
    background: var(--couleur-body);
}
/* nav */

#menu-icon {
    display: none;
    color: var(--btn-hover);
    position: fixed;
}

nav {
    display: flex;
    position: relative;
    background: var(--important);
}

img{
    width: calc(11% - 3vw);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--ecriture-nav);
    text-transform: uppercase;
    margin: 0 1rem;
    font-weight: 400;
}

.buttons {
    position: absolute;
    right: 0;
    padding: 0 2rem;
    cursor: pointer;
}

.btn {
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn a {
    text-decoration: none;
    color: var(--ecriture-nav);
}

.buttons .inscription {
    background: transparent;
    margin: 0 2rem;
}
.buttons .connection {
    padding: 1rem;
    background : var(--btn-hover);
    font-weight: 800;
}

.buttons-connecte {
    display: flex;
}

.buttons-connecte .bag-icon, 
.buttons-connecte .user-icon {
    font-size: 1.785rem;
    background: transparent;
}

/* Ouverture box pour MAJ profil ou deconnection */ 
.profil {
    position: absolute;
    right: 1%;
    -webkit-box-shadow: 0px 5px 6px 3px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 6px 3px rgba(0,0,0,0.5);
    background: var(--couleur-body);
    border-radius: 8px;
    padding: 2rem 0;
    width: 12rem;
    display: none;
    animation: fadeIn .3s linear;
    z-index: 2;
}

@keyframes fadeIn {
    0% {
        transform: translateY(1.2rem);
    }
}

.profil .buttonsSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.profil .buttonsSettings .monProfil {
    background: var(--important);
}

.profil .buttonsSettings .monProfil:hover {
    background: var(--btn-hover);
}

.profil.active {
    display: inline-block;
}


/* footer */ 
.container{
	/* max-width: 1170px; */
	margin:auto;
    width: 100%;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
ul{
	list-style: none;
}

.footer{
	background: var(--important);

}
.footer-col{
   width: 25%;
   padding: 20px 15px;
}

.container .footer-col img {
    width: 60%;
}
.footer-col h4{
	font-size: 18px;
	color: var(--ecriture-nav);
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--btn-hover);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col li {
    list-style: none;
}
.footer-col li a{
	font-size: 16px;
	text-transform: uppercase;
	color: var(--ecriture-nav);
	text-decoration: none;
	font-weight: 500;
	display: block;
	transition: all 0.3s ease;
}
.footer-col li a:hover{
	color: #ffffff;
	padding-left: 10px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: var(--important);
	background-color: var(--ecriture-nav);
}

/* copyright */ 

.copyright {
    text-align: center;
    color: var(--txt-body);
    font-size: 1rem;
    font-weight: 800;
}

/* responsive nav */ 
 
@media(max-width : 900px){
    .buttons {
        position: unset;
        display: flex;
        flex-direction: column;
    }
    ul  {
        top: 0;
        left: 0; 
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* backdrop-filter: blur(7px); */
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        margin-left: -100%;
        transition: .3s ease;
    }

    ul img {
        display: none;
    }

    ul.active-menu {
        gap: 2rem;
        margin-left: 0;
        z-index: 100;
        transition: .3s ease-in-out;
        background: var(--important);
    }

    ul li {
        margin: 25px 0;
        font-size: 1.2rem;
    }

    nav ul li a {
        color: var(--ecriture-nav);
        font-weight: 800;
    }
    #menu-icon {
        display: inline-block;
        position: absolute;
        z-index: 400;
        font-size: 3rem;
        cursor: pointer;
        font-weight: 800;

    }

    /* Bouton pour bag et user profil + profil*/ 
    .buttons-connecte {
        z-index: 5;
        position: absolute;
        color: var(--important);
        right: 0;
    }

    .buttons-connecte .bag-icon,
    .buttons-connecte .user-icon {
        color: var(--important);
    }

    .profil {
        top : 10%;
    
    }

    /* fin bouton bg et user */

    .buttons a {
        color: var(--ecriture-nav);
        font-weight: 800;
    }
    .buttons .connection {
        background : none;
        margin: unset;
    }

    .header .container .heading {
        left: 20%!important;
    }
    .header .container .commander {
        left: 40%!important;
        top: 60%!important;
    }

}

/*responsive footer*/
@media(max-width: 767px){
    ul.active-menu {
        gap: 2rem;
    }

   .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }

    .heading p{
        font-size: 1.2rem;
    }
    .header .container .heading {
        left: 20%!important;
        font-size: 1rem;
    }
}


@media(max-width: 425px){
    .header .container .heading {
        left: 15%!important;
        font-size: 1rem!important;
    }
    .header .container .commander {
        left: 32%!important;
        top: 60%!important;
    }  
    .heading p{
        font-size: .9rem;
    } 
    .footer-col{
        width: 100%;
    }
    .footer-col h4::before{
        display: none;
    }
    .footer {
        text-align: center;
    }
    .container .footer-col img {
        width: 30%;
    }
}