.nosProduits {
    width: 100%;
}

/* filtre js */ 
.nosProduits .produits__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.875rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 2rem;
}

.nosProduits .produits__item {
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
    color: var(--important);
}

.nosProduits .produits__item:hover {
    color: var(--btn-hover);
}

.nosProduits .produits__item.active {
    background-color: unset;
    transition: unset;
}

.container.nosProduits.hide {
    display: none;
}
/* fin filtre js */ 

.nosProduits .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.nosProduits .container .box img{
    width: 40%;
    margin: 0.3rem auto;
}

.nosProduits .container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #30ace03f;
    width: 33%;
    margin: 1rem;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.nosProduits .container .box p {
    text-align: center;
    color: var(--txt-body);
    padding: 1rem;
}

.nosProduits .container .box .prix {
    text-align: center;
    color: var(--important);
    padding: 1rem;
    font-weight: 800;
}


.nosProduits .container .box .acheter i {
    color: var(--important);
    opacity: 0;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nosProduits .container .box .acheter .droite_i {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.nosProduits .container .box .acheter .gauche_i {
    position: absolute;
    left: 10px;
    bottom: 20px;
}
.nosProduits .container  .box:hover .acheter .droite_i{
    opacity: 1;
}
.nosProduits .container  .box:hover .acheter .gauche_i{
    opacity: 1;
}

.prixPromo {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 0.15rem;
}

.promo::after {
    position: absolute;
    content: var(--reduc);
    color: white;
    background: var(--important);
    padding: 1px 24px;
    transform: rotate(45deg);
    top : 10px;
    right: -20px;
}

/* Modal */ 
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.089);
    z-index: 1000;
    display: none;
}

.popup.active {
    display: inline-block;
}

.popupContent {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: 400px;
    max-height: 720px;
    min-width: 520px;
    width: 60%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: top .2s linear, opacity 200ms linear;
}

.popupContent.active {
    opacity: 1;
    top: 10%!important;
}

.popupHeader {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    background-color: var(--btn-hover);
    color: var(--txt-body);
}

.popupBody {
    height: 80%;
    padding: 2%;
    overflow: hidden;
    background-color: var(--txt-body);
}

.popupBody #imgPopup {
    width: 30%;
}

.popupBody p, .popupHeader p {
    color: white!important;
}

.popupFooter {
    height: 13%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-hover);
}

#closeCroix {
    position: absolute;
    right: 10px;
    font-size: 2rem;
    color: red;
    background: transparent;
}

.btnClose {
    cursor: pointer;
    padding: 0.8rem;
    background: var(--btn-action);
    border: none;
}



@media (max-width: 600px) {
    .nosProduits .container .box {
        width: 100%;
        aspect-ratio: 3/2;
    }

}
