@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;800&display=swap');

/* paramètre de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
}

/* couleur */ 
:root{
    --couleur-body :#F9F9F9;  
    --important : #0594D0; 
    --btn-hover : #007198;
    --ecriture-nav : #F2F2F2; 
    --txt-body : #7E7E7E; 
    --btn-action : linear-gradient(265.48deg, #F60030 46.34%, #FFCF00 102.96%); 

}

/* container suivis des stats */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 120px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 0;
    transition: ease-in-out .4s;
    background-color: var(--important);
    -webkit-box-shadow: 11px 5px 14px 0px rgba(0,0,0,0.5); 
    box-shadow: 11px 5px 14px 0px rgba(0,0,0,0.5);
}

.container .box span {
    font-size: 32px;
    color: var(--ecriture-nav);
    font-weight: 900;
}

.container .box p {
    position: absolute;
    bottom: 20px;
    color: var(--ecriture-nav);
}

.container .box .bi {
    color: var(--ecriture-nav);
    font-size: 2rem;
}

.container .box:hover {
    background-color: var(--btn-hover);
}

/* section charts */

.charts .box {
    width: 100%;
    padding: 10rem 1.5rem;
    border-radius: 8px;
    background: var(--important);
    border: 0;
    transition: ease-in-out .4s;
}

.charts .box canvas {
    background-color: var(--couleur-body);
    padding: 15px;
    border-radius: 8px;
}

.charts .box:hover {
    background-color: var(--btn-hover);
}

/*  Dernier user */

.main-title {
    margin: 30px 0;
    color: var(--txt-body);
}
.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.table-title {
    font-size: 16px;
    padding: 10px;
    color: var(--txt-body);
}

.table-results {
    grid-column: 1 / -1;
}

.table-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 15px 10px;
    background: #fff;
}

.table-item:nth-child(odd) {
    background: #eafaf4;
}

.table p {
    padding: 0 15px;
}