/* container suivis des stats */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 120px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 0;
    transition: ease-in-out .4s;
    background-color: var(--important);
    -webkit-box-shadow: 11px 5px 14px 0px rgba(0,0,0,0.5); 
    box-shadow: 11px 5px 14px 0px rgba(0,0,0,0.5);
}

.container > .box{
    justify-content: space-between;
}

.container .box span {
    font-size: 32px;
    color: var(--ecriture-nav);
    font-weight: 900;
}

.container .box p {
    position: absolute;
    bottom: 20px;
    color: var(--ecriture-nav);
}

.container .box .bi {
    color: var(--ecriture-nav);
    font-size: 2rem;
}

.container .box:hover {
    background-color: var(--btn-hover);
}

/* section charts */

.charts .box {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    background: var(--important);
    border: 0;
    transition: ease-in-out .4s;
}

.charts .box canvas {
    background-color: var(--couleur-body);
    border-radius: 8px;
}

.charts .box:hover {
    background-color: var(--btn-hover);
}

/*  Dernier user  , directement dans utilisateur.css + gestionadmin*/

.main-title, .table-title {
    color: var(--txt-body);
    text-align: center;
}

.table-style  {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
    width: 20%; 
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
