@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;800&display=swap');

/* paramètre de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
}

/* couleur */ 
:root{
    --couleur-body :#F9F9F9;  
    --important : #0594D0; 
    --btn-hover : #007198;
    --ecriture-nav : #F2F2F2; 
    --txt-body : #7E7E7E; 
    --btn-action : linear-gradient(265.48deg, #F60030 46.34%, #FFCF00 102.96%); 

}

/* Emglobe tout le site en deux partie */
.global-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}



/* hamburger pour responsive */ 
.hamburger-nav {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 5px;
}

.hamburger-nav i {
    font-size: 1.8rem;
}

/* Nav  partie gauche*/
.side-nav {
    position: relative;
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--important);
}

/* animation button qui ouvre et ferme le menu*/
.side-nav #navToggle{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.side-nav #navToggle div{
    font-size: 1.7rem;
    color: white;
    transition:  all 0.7s ease-in-out;
}

.side-nav #navToggle>#haut{
    transform : rotate(180deg);
}

.side-nav #navToggle.active>#haut{
    transform: rotate(0);
}

.side-nav.closedNav{
    transition: all 1s ease-in-out;
    max-width: 70px;
}
/* fin animation button qui ouvre et ferme le menu */ 

.nav-logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 30px 0;
}

.nav-logo h1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 1.5rem;
    color: var(--ecriture-nav);
}

.nav-logo img {
    width: 60px;
}

.block-link{
    display: flex;
    color: var(--ecriture-nav);
    text-decoration: none;
    padding: 20px 30px;
}

.block-link:hover {
    background: var(--btn-hover);
}

.nav-links {
    margin-left: 14px;
    transition: all 600ms ease-in-out;
}

.closedNav .nav-links{
    display: none;
}

/* main-content partie droite du site */

.main-content {
    grid-column: 2;
    padding: 30px;
}


/* titre haut de page */
.top-title {
    color: var(--txt-body);
    margin: 15px 0;
}

.trait-title {
    border-bottom: 1px solid var(--important) ;
}