.containerProduits {
    display: grid;
    grid-template-areas: "categorie produit" "ingredient produit" "tva produit" "promo produit";
    gap: 20px;
}

.produit {
    grid-area: produit;
}

.categorie {
    grid-area: categorie;
}

.ingredient {
    grid-area: ingredient;
}

.tva {
    grid-area: tva;
}

.promo {
    grid-area: promo;
}

.box__titre {
    margin-top: 2.875rem;
    font-size: 1.7rem;
    color: var(--txt-body);
    text-align: center;
}

.containerProduits__box {
    -webkit-box-shadow: 3px 5px 12px -3px #00000C; 
    box-shadow: 3px 5px 12px -3px #00000C;
    background: var(--couleur-body); 
    border-radius: 1rem;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.containerProduits__box form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.containerProduits form input, select {
    outline: none;
    border: none;
    padding: 1rem;   
}

.containerProduits form .btn  {
    cursor: pointer;
}

.containerProduits form input:focus, textarea:focus, select:focus {
    border-color: var(--important);
    box-shadow: inset 0px 0px 1px 1px var(--important);
}


.containerProduits #description_produit  {
    resize: none;
    padding: 1rem;
    outline: none;
    border: none;
    height: 150px;
}

/*checkbox dispo */
#dispo {
    margin-left: 2rem;
    cursor: pointer;
}
input.disponnibilite_produit{
    position: relative;
    width: 80px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #BEBCBE;
    transition: 0.5s;
}

input:checked.disponnibilite_produit{
    background: #00C853;
}

input.disponnibilite_produit::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 31px;
    background: #fff;
    border-radius: 20px;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px #BEBCBE;
    transition: 0.5s;
}

input:checked.disponnibilite_produit::before{
    left: 40px;
}

.ingredientContainer {
    row-gap: 0.875rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
}

#tableStyleProduit {
    margin-top: 1.25rem;
}

/* animation button qui ouvre et ferme la div produit*/

.nosProduits {
    position: relative;
}
.nosProduits .btnProduit{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: var(--btn-action);
    padding-right: 4px;
}

.nosProduits .btnProduit div{
    font-size: 1.7rem;
    color: white;
    transition:  all 0.7s ease-in-out;
}

.nosProduits .btnProduit>#haut{
    transform : rotate(90deg);
}
/* fin animation button qui ouvre et ferme la div produit */

.modifier {
    background: #0594d0cf;
}

#tableProduit {
    grid-template-columns: repeat(6, 1fr);
}

#tableIngredient {
    grid-template-columns: repeat(4, 1fr);
}

#tableCategorie {
    grid-template-columns: repeat(3, 1fr);
}