@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;800&display=swap');

/* paramètre de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
}

/* couleur */ 
:root{
    --couleur-body :#F9F9F9;  
    --important : #0594D0; 
    --btn-hover : #007198;
    --ecriture-nav : #F2F2F2; 
    --txt-body : #7E7E7E; 
    --btn-action : linear-gradient(265.48deg, #F60030 46.34%, #FFCF00 102.96%); 

}

/* Utilisateur + rechercher user */

.main-title {
    margin: 30px 0 ;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.input-control {
    display: flex;
    align-items: center;
    max-width: 450px;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    margin-top: 25px;
}

.input-control input {
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
    outline: none;
    border: none;
    color: #000;
    background: #f4f4f4;
}

.input-control i {
    cursor: pointer;
}

.input-control input::placeholder {
    color : #838f9f;
    font-size: 16px;
}

.resultatAffichage button {
    border: none;
   
}
.supUser {
    background: var(--btn-action);
    padding: 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: var(--ecriture-nav);
    font-weight: 800;
}